<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Cars</h1>
<table>
    <p th:each="car:${cars}">
        <tr>
            <td th:utext="${car.getId()}"></td>
            <td>---</td>
            <td th:utext="${car.getMark()}"></td>
            <td>---</td>
            <td th:utext="${car.getNumber()}"></td>
            <td>---</td>
            <td th:utext="${car.getPoint().getName()}"></td>
            <td>---</td>
            <td th:utext="${car.MediumTransferTime()}"></td>
        </tr>
        <tr th:each="transfer:${car.getTransfers()}">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td th:utext="${transfer.getId()}+' '+${transfer.getTenant()}+' '+${transfer.getDateBegin()}+' '+${transfer.getDateEnd()}"></td>
        </tr>
    </p>
</table>


<form method="post" action="/addcar">
    <ul>
        <li>
            <h2>New car</h2>
        </li>
        <li>
            <label>Mark:</label>
            <input type="text" name="mark"  placeholder="Введите имя" required />
        </li>
        <li>
            <label>Number:</label>
            <input type="text" name="number"  placeholder="Введите имя" required />
        </li>
        <li>
            <label>Point:</label>
            <input type="number" name="id"  placeholder="Введите имя" required />
        </li>
        <li>
            <button class="submit" type="submit">Submit</button>
        </li>
    </ul>
</form>

</body>
</html>