<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cars page</title>
</head>
<body>

<h1>Cars</h1>
<table>
    <p th:each="car:${cars}">
        <tr>
            <td th:utext="${car.getId()}"></td>
            <td>---</td>
            <td th:utext="${car.getMark()}"></td>
            <td>---</td>
            <td th:utext="${car.getNumber()}"></td>
            <td>---</td>
            <td th:utext="${car.getPoint().getName()}"></td>
        </tr>
    </p>
</table>


<form method="post" action="/cars/new">
    <ul>
        <li>
            <h2>New car</h2>
        </li>
        <li>
            <label>Mark:</label>
            <input type="text" name="mark"  required />
        </li>
        <li>
            <label>Number:</label>
            <input type="text" name="number"   required />
        </li>
        <li>
            <label>Point:</label>
            <input type="number" name="id" required />
        </li>
        <li>
            <label>Tariff:</label>
            <input type="number" name="id_tariff"  required />
        </li>
        <li>
            <button class="submit" type="submit">Submit</button>
        </li>
    </ul>
</form>

</body>
</html>